<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div fxLayout="column" fxLayoutAlign="start start">
        <h1 fxFlex>
          Spaces Made Easy
        </h1>
        <h4 flxFlex>Having a difficult time finding a study space in campus? GIT SIT makes it easy to find <u>available</u> study spaces at Georgia Tech.</h4>
    </div>
    
    
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://lh3.googleusercontent.com/Rx4O9AzIYTlHWGaGCh_JCOESC2tosFv6HhqlEC_AO33pOaFhoy1-iRKz9v_C2uUaXsDIKn7VmYZ-B5jugozCaAT9G6rNl_rIdv_KGtCvS78wzARDcuHWNlPJR2j4fD8kOZvzxSn3xA=w2400" height="300px" width="450">
  </mat-grid-tile>
  <mat-grid-tile>
    3
  </mat-grid-tile>
  <mat-grid-tile>
    <div fxLayout="column" fxLayoutAlign="center start">
      <h1>Download GIT SIT</h1>
      <h4>
        <a>IOS </a> or <a> Alexa</a>
      </h4>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div fxLayout="column" fxLayoutAlign="center start">
      <h1>The Team</h1>
      <h4>Kang Bin Kim - Frontend Developer : <a>kimkangbin@gatech.edu</a></h4>
      <h4>Cole Tayler - Backend Developer : <a>ctaylor81@gatech.edu</a></h4>
      <h4>Edwin Villatoro - Frontend Developer : <a>evillatoro3@gatech.edu</a></h4>
      <h4>Jacob Williams - Backend Developer : <a>jake.williams@gatech.edu</a></h4>
    </div>
  </mat-grid-tile>
</mat-grid-list>