<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div fxLayout="column" fxLayoutAlign="start start">
        <h1 fxFlex>
          Spaces Made Easy
        </h1>
        <h4 flxFlex>GITSIT makes it easy to find <u>available</u> study spaces at Georgia Tech.</h4>
    </div>
    
    
  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>
    3
  </mat-grid-tile>
  <mat-grid-tile>
    <div fxLayout="column" fxLayoutAlign="center start">
      <h1>Download GIT SIT</h1>
      <h4>
        <a>IOS </a> or <a> Alexa</a>
      </h4>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div fxLayout="column" fxLayoutAlign="center start">
      <h1>The Team</h1>
      <h4>Kang Bin Kim - Frontend Developer : <a>kimkangbin@gatech.edu</a></h4>
      <h4>Cole Tayler - Backend Developer : <a>ctaylor81@gatech.edu</a></h4>
      <h4>Edwin Villatoro - Frontend Developer : <a>evillatoro3@gatech.edu</a></h4>
      <h4>Jacob Williams - Backend Developer : <a>jake.williams@gatech.edu</a></h4>
    </div>
  </mat-grid-tile>
</mat-grid-list>