<mat-grid-list cols="2" rowHeight="444px">
  <mat-grid-tile>
    <div fxLayout="column" fxLayoutAlign="start start">
        <h1 fxFlex>
          1. Search Study Spaces
        </h1>
        <h4>Search a Georgia Tech building to find its occupancy</h4>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <img src="/assets/images/search_location.png" height="443.75px" width="250px">
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <img src="/assets/images/pinned_location.png" height="443.75px" width="250px">
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div fxLayout="column" fxLayoutAlign="center start">
      <h1>2. Find the Location</h1>
      <h4>Check the color of the pin to understand whether the building is busy (red), fairly crowded (yellow), or available (green)</h4>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div fxLayout="column" fxLayoutAlign="center start">
      <h1>3. See Occupancy Details</h1>
      <h4>Learn the occupancy of the building per floor in more details</h4>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <img src="/assets/images/location_occupancy.png" height="443.75px" width="250px">
    </div>
  </mat-grid-tile>
</mat-grid-list>