<div fxLayout="column" fxFill>
  <!--GIT-SIT Website Header-->
  <mat-toolbar color="primary">
    <a mat-button routerLinkActive="mat-raised-button"
      routerLink="/" [routerLinkActiveOptions]="{exact: true}">GIT-SIT</a>

    <div class="spacer"></div>
    <div fxLayout="row">
        <!-- <a mat-button routerLinkActive="mat-raised-button" routerLink="team">The Team</a> -->
        <a mat-button routerLinkActive="mat-raised-button" routerLink="features">Features</a>
    </div>

  </mat-toolbar>

  <div class="page" fxLayout="column" fxFlex>
    <div fxFlex>
      <router-outlet></router-outlet>
    </div>

    <div class="footer">
      Powered by GIT-SIT v0.1
    </div>
  </div>

</div>
